<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SimplestServlet</servlet-name>
        <servlet-class>mum.cs472.SimplestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>mum.cs472.HelloWorld</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calculator</servlet-name>
        <servlet-class>mum.cs472.Calculator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculatorV1</servlet-name>
        <servlet-class>mum.cs472.CalculatorV1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimplestServlet</servlet-name>
        <url-pattern>/Simplest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/helloworld</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calculator</servlet-name>
        <url-pattern>/calculator-v2.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculatorV1</servlet-name>
        <url-pattern>/calculator-v1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
